<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action </th>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts">

            <td>{{contact.first}}</td>
            <td>{{contact.last}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>
                <button type="button" class="btn btn-link" ng-click="update(contact)"><span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-link" ng-click="delete(contact)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>